{% extends "pykota/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>
  {% if validlink %}
<form method="post" class="passwordreset">
  {% csrf_token %}
        {{ form|crispy }}
        <br>
<input style="" type="submit" class="save btn btn-danger" value="Cambiar password" /> 
<input type="hidden" name="next" value="{{ next }}" />
</form>

  {% else %}
    <p>
      El link para actualizar su contraseña es invalido, problemente porque ya ha sido utilizado.
      Por favor solicite un nuevo reset de contraseña.
    </p>
  {% endif %}
{% endblock %}