{% extends "pykota/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 
<br><br>
<form method="POST" class="passwordreset">
	<h1> Olvide mi contraseña </h1><br>
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
       
<div>      
<input style="" type="submit" class="save btn btn-danger" value="Enviar confirmación" /> 
<input type="hidden" name="next" value="{{ next }}" />
</div>
    </form>
{% endblock %}