{% extends 'pykota/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br>
<a href="{% url 'grupo-usuario_lista' %}" class="btn btn-dark"> Volver </a><br>
    <form method="POST" class="formulario" enctype="multipart/form-data">
<h1 style="text-align: center;">Grupo a Usuario</h1>
    	{% csrf_token %}
      <div class="row">
      <div class="col-8">
        {{ form.groupid|as_crispy_field }}
      </div>

        <div class="col-8">
        {{ form.userid|as_crispy_field }}
      </div>
</div>

        <button type="submit" class="save btn btn-dark">Guardar</button>
    </form>
	
			
{% endblock %}
